body {
  margin: 0;
  padding: 156px 24px;
  background-color: #fff;
  max-width: 1128px;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  justify-content: space-between;
  max-width: 100%;
  box-sizing: border-box;
}

.gallery-item {
  flex: 0 0 calc((100% - 48px) / 3); /* 3 sütun ve 2 boşluk */
}

.gallery-link {
  text-decoration: none;
}

.gallery-image {
  width: 360px;
  height: 200px;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease;
  cursor: zoom-in;
}

.gallery-image:hover {
  transform: scale(1.03);
}
